/* By Bannings */

.dropdown {
  position: relative;
}
.d-inline-block {
  display: inline-block !important;
}
details {
  display: block;
}
details .btn:active, .btn.selected, [open]>.btn {
  /* background-color: #e9ecef; */
  /* background-image: none; */
  /* border-color: rgba(27,31,35,0.35); */
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}
.details-reset>summary {
  list-style: none;
}

/* details .btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);

  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
details summary {
  cursor: pointer;

  display: list-item;
  outline: none;
}

details summary::-webkit-details-marker { 
display:none; 
}

.details-overlay[open]>summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;
  display: block;
  cursor: default;
  content: " ";
  background: transparent;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border: 4px solid transparent;
  border-top-color: currentcolor;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

details ul, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
details li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
}
.dropdown-menu:after, .dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
}
.dropdown-menu-sw::before {
  left: auto;
  right: 9px;
  top: -16px;
}
.dropdown-menu::before {
  border: 8px solid transparent;
  border-bottom-color: rgba(27, 31, 35, 0.15);
}
.dropdown-menu:after {
  border: 7px solid transparent;
  border-bottom-color: #fff;
}
.dropdown-menu-sw::after {
  left: auto;
  right: 10px;
  top: -14px;
}
.dropdown-item {
  color: #24292e;
  display: block;
  overflow: hidden;
  padding: 4px 10px 4px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-item.zeroclipboard-is-hover, .dropdown-item:focus, .dropdown-item:hover {
  background-color: #0366d6;
  color: #fff;
  outline: none;
  text-decoration: none;
}
  
details a {
  color: #0366d6;
  text-decoration: none;

  background-color: transparent;
}

.dropdown-menu-sw {
  left: auto;
  right: 0;
}