---
layout: default
---
<div style="padding: 0px">
  {% for post in paginator.posts %}
  <div class="article">
    <a href="{{ post.url }}"><span class="title">{{ post.title }}</span></a>
    {% if post.disable_excerpt != true %}
      <span class="excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate:site.max_excerpt_chars }}</span>
    {% endif %}
    <span class="footer">
      {{ post.date | date: "%Y-%m-%d" }}<i class="icon-circle circle-divider"></i>{% include reading_time.html content = post.content %} 
    </span>
  </div>
	{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  <div class="pager">
    {% if paginator.previous_page %}
      <a class="previous" href="{{ paginator.previous_page_path }}">
        <i class="icon-long-arrow-left"></i>
        NEWER POSTS
      </a>
    {% endif %}

    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path }}">
        PREVIOUS POSTS
        <i class="icon-long-arrow-right"></i>
      </a>
    {% endif %}
  </div>
{% endif %}