---
layout: default
---
<div style="padding: 0px">
  {% for post in paginator.posts %}
    {% if post.disable_excerpt != true %}
      <span style="display: block">{{ post.excerpt | strip_html | strip_newlines | truncate:site.max_excerpt_chars }}</span>
    {% endif %}
  </div>
	{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  <div class="pager">
    {% if paginator.previous_page %}
      <a class="previous" href="{{ paginator.previous_page_path }}">
        <i class="fas fa-long-arrow-alt-left"></i>
        NEWER POSTS
      </a>
    {% endif %}

    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path }}">
        PREVIOUS POSTS
        <i class="fas fa-long-arrow-alt-right"></i>
      </a>
    {% endif %}
  </div>

<style>
  .pager {
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .previous, .next {
    padding: 9px 12px;
    border: 1px solid #ddd;
    color: #0c8147;
    font-weight: 800;
    font-size: 0.8rem;
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
  .pager > a:hover,
  .pager > a:focus {
    color: white;
    background-color: #5ca580;
    border: 1px solid #5ca580;
}
</style>
{% endif %}