<div id="gitalk-container"></div>
<script>
    function renderGitalk() {
        var head = document.getElementsByTagName('head')[0];
        
        var script = document.createElement('script');
        script.onload = () => {
            var gitalk = new Gitalk({
                id: '{{ page.date }}',
                clientID: '{{ site.gitalk.clientID }}',
                clientSecret: '{{ site.gitalk.clientSecret }}',
                repo: '{{ site.gitalk.repo }}',
                owner: '{{ site.gitalk.owner }}',
                admin: ['{{ site.gitalk.owner }}'], 
                labels: ['Gitalk'],
            })
            gitalk.render('gitalk-container')
        }
        script.src = "{{ '/assets/js/gitalk.min.js?v=' | append: site.github.build_revision | relative_url }}";
        script.type = 'text/javascript';
        head.append(script);

        var style = document.createElement('link');
        style.href = "{{ '/assets/css/gitalk.css?v=' | append: site.github.build_revision | relative_url }}";
        style.type = 'text/css';
        style.rel = 'stylesheet';
        head.append(style);
    }

    function onScroll() {
        const gitalkContainer = document.getElementById("gitalk-container");
        if (window.scrollY + window.innerHeight >= gitalkContainer.offsetTop) {
            window.removeEventListener('scroll', onScroll);
            renderGitalk();
        }
    }

    window.addEventListener('scroll', onScroll, {passive: true});
</script> 