<div id="comments-container">
    <i class="icon-spinner loading"></i>
</div>

<style>
    #comments-container { 
        text-align: center; 
        position: relative; 
        min-height: 6em;
    }
    #comments-container .loading {
        font-size: 2em;
        display: inline-block;
        position: absolute;
        top: 2em;
        z-index: -1;
        -webkit-animation:spin 1s linear infinite;
        -moz-animation:spin 1s linear infinite;
        animation:spin 1s infinite;
    }
  
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    .utterances { 
        max-width: 100%; 
        position: relative;
    }
    .utterances-frame {
        position: absolute;
    }
</style>

<script>
    function renderCommentsContainer() {
        var container = document.getElementById('comments-container');

        var script = document.createElement('script');
        script.src = "https://utteranc.es/client.js";
        script.type = 'text/javascript';
        script.crossorigin = 'anonymous';
        script.setAttribute("async", "");
        script.setAttribute("issue-term", "title");
        script.setAttribute("repo", "{{ site.repository }}");
        script.setAttribute("label", "utteranc");
        script.setAttribute("theme", "github-light");

        container.append(script);
    }

    function onScroll() {
        const container = document.getElementById("comments-container");
        if (window.scrollY + window.innerHeight >= container.offsetTop) {
            window.removeEventListener('scroll', onScroll);
            renderCommentsContainer();
        }
    }

    window.addEventListener('scroll', onScroll, {passive: true});
</script> 