<nav class="toc toc-right js-toc"></nav>
<link rel="stylesheet" href="{{ '/css/tocbot.css?v=' | append: site.github.build_revision | relative_url }}" />
<script src="{{ '/js/tocbot.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script type="text/javascript" defer>
  window.onload = function () {
    let initialLevel = null;
    let previousLevel = null;
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.js-toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.post-content',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h1, h2',
      positionFixedSelector: '.js-toc',
      includeHtml: true,
      linkClass: 'toc-link-custom',
      activeLinkClass: 'is-active-link-custom',
      isCollapsedClass: 'is-collapsed-custom',
      collapsibleClass: 'is-collapsible-custom',
      // headingObjectCallback: (n, t) => {
      //   if (initialLevel == null || n.headingLevel == initialLevel) {
      //     previousLevel = null;
      //     initialLevel = n.headingLevel;
      //     n.headingLevel = 1;
      //     n.nodeName = "H1";
      //     return n;
      //   }

      //   if (previousLevel == null || previousLevel == n.headingLevel) {
      //     previousLevel = n.headingLevel;
      //     n.headingLevel = 2;
      //     n.nodeName = "H2";
      //     return n;
      //   }
      //   return;
      // },
    }); 
  }
</script>