// Colors
// Common
$summarycolor: #606c71;

// Light Mode
$navColor: black;
$headerColor: #515151;
$headerBackgroundColor: #f7f7f7;
$backgroundColor: white;
$contentColor: #232323;
$baseColor: #159957;
$baseLinkColor: #008442;
$codeBackgroundColor: #f3f6fa;
$separatorColor: #f3f3f3;
$blockquoteBorderColor: #dbdbdb;

$searchWrapperBg: #e9e7e7;
$searchIconColor: #c2c6cc;
$inputFocusBorderColor: #e9ecef;

// Dark Mode
$navColorDark: white;
$backgroundColorDark: #191919;
$headerColorDark: #efefefCC;
$headerBackgroundColorDark: #262626;
$contentColorDark: #a3a3a3;
$baseColorDark: #c6c6c6;
$baseLinkColorDark: #c6c6c6;
$codeBackgroundColorDark: #1d1f21;
$separatorColorDark: #404040;
$blockquoteBorderColorDark: #404040;

$searchWrapperBgDark: rgb(34, 34, 39);
$searchIconColorDark: rgb(100, 102, 105);
$inputFocusBorderColorDark: rgb(112, 114, 115);

// Switcher
:root {
  --summary-color: #{$summarycolor};
  --base-color: #{$baseColor};
  --base-link-color: #{$baseLinkColor};
  --nav-color: #{$navColor};
  --header-color: #{$headerColor};
  --header-background-color: #{$headerBackgroundColor};
  --content-color: #{$contentColor};
  --background-color: #{$backgroundColor};
  --code-background-color: #{$codeBackgroundColor};
  --separator-color: #{$separatorColor};
  --blockquote-border-color: #{$blockquoteBorderColor};

  --search-wrapper-bg: #{$searchWrapperBg};
  --search-icon-color: #{$searchIconColor};
  --input-focus-border-color: #{$inputFocusBorderColor};
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #{$baseColorDark};
    --base-link-color: #{$baseLinkColorDark};
    --nav-color: #{$navColorDark};
    --header-color: #{$headerColorDark};
    --header-background-color: #{$headerBackgroundColorDark};
    --content-color: #{$contentColorDark};
    --background-color: #{$backgroundColorDark};
    --code-background-color: #{$codeBackgroundColorDark};
    --separator-color: #{$separatorColorDark};
    --blockquote-border-color: #{$blockquoteBorderColorDark};

    --search-wrapper-bg: #{$searchWrapperBgDark};
    --search-icon-color: #{$searchIconColorDark};
    --input-focus-border-color: #{$inputFocusBorderColorDark};
  }
}