---
---

$sidebarWidth: 27rem;

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $sidebarWidth;
    visibility: hidden;
    overflow-y: auto;
    font-size: 80%;
    background-color: black;
    color: var(--summary-color);
    z-index: 999;

    right: -$sidebarWidth;
    left: auto;
}

.sidebar a {
  font-weight: normal;
  color: white;
}

#sidebar-checkbox {
    position: absolute;
    display: none;
}

#sidebar-overlay {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 997;
  opacity: 0;
  transition: opacity 0.25s
}

.wrap, .sidebar {
    transition: all .3s ease;
}

#sidebar-checkbox:checked + .sidebar {
    visibility: visible;
}

#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar {
    transform: translateX(-$sidebarWidth);
}

#sidebar-checkbox:checked ~ .sidebar {
  box-shadow: -.25em 0 .5em rgba(0,0,0,.2)
}

.body-overflow-hidden {
  overflow: hidden;
}

.sidebar-overlay-display-show {
  visibility: visible !important;
  opacity: 0;
}

.sidebar-item {
  padding: 1em;
}

.sidebar-item p:last-child {
  margin-bottom: 0;
}

.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.sidebar-nav-item {
  display: block;
  padding: .5em 1em;
  border-top: 1px solid rgba(255,255,255,.1);
}

.sidebar-nav-item-sub {
  font-size: 85%;
  line-height: 85%;
}

.sidebar-nav-item-sub::before {
  content: "";
  padding-left: 1em;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5em;
  }
  .sidebar-nav-item {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.sidebar-personal-info-section {
  position: relative;
}

.sidebar-personal-info .sidebar-personal-info-section:not(:first-of-type) {
  margin-top: .75em;
}

.sidebar-personal-info .sidebar-personal-info-section {
  line-height: 1em;
}

.sidebar-personal-info .sidebar-personal-info-section a,
.sidebar-personal-info .sidebar-personal-info-section strong {
  color: white;
  text-decoration: none;
}

.sidebar-personal-info-section .avatar {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1;
}

.sidebar-personal-info-section .qrcode {
  position: absolute;
  width: 30%;
  left: 70%;
  top: 70%;
  border-radius: 5px;
  aspect-ratio: 1;
}