<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ site.github.url | append: '/favicon.png' }}"/>
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/dropdown.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/fontawesome.min.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/brands.min.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/solid.min.css?v=' | append: site.github.build_revision | relative_url }}" />
  </head>
  <body>
    {% if page.layout == "post" %}
      <nav class="left">
        <a href="javascript:window.history.back()"><i class="fas fa-angle-left" style="color: white;"></i></a>
      </nav>
    {% endif %}
    <nav class="right">
        <div id="floating-buttons">
          <a href="{{ site.github.url | append: '/README.html' }}" class="btn">什么是 ARTS？</a>
          <!-- <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a> -->
        </div>
        
        <details id="floating-more" class="dropdown details-reset details-overlay">
          <summary>
            <i class="fas fa-bars"></i>
          </summary>
      
          <ul class="dropdown-menu dropdown-menu-sw">
            <li><a class="dropdown-item" href="{{ site.github.url | append: '/README.html' }}">什么是 ARTS？</a></li>
            <!-- <li><a class="dropdown-item" href="{{ site.github.repository_url }}">View on GitHub</a></li> -->
          </ul>
        </details>
      </nav>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title| default: site.title | default: site.github.repository_name }}</h1>

      {% if page.date %}
        <h2 class="project-tagline">发表于 {{ page.date | date: "%Y-%m-%d %H:%M:%S"}}</h2>
      {% endif %}
      <!-- <img src="http://stackoverflow.com/users/flair/907422.png?theme=clean" width="208" height="58" alt="profile for Bannings at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Bannings at Stack Overflow, Q&amp;A for professional and enthusiast programmers"> -->
    </header>

    <main class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="{{ site.github.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>