---
layout: default
---

{% include floating_header.html %}
<div id="post-content">
  {%- comment -%} Table of Contents {%- endcomment -%}
  {% assign has_toc = false %}
  {% for item in page.toc_tags %}
    {% assign test = '</' | append: item | append: '>' %}
    {% if content contains test %}
      {% assign has_toc = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if has_toc %}
    {% include toc.html %}
  {% endif %}

  {%- comment -%} 图片懒加载 {%- endcomment -%}
  {%- capture img_placehodler -%}
    data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7
  {% endcapture%}

  {% if content contains '<img src=' %}
    {% assign replacement = '<img src="' | append: img_placehodler | append: '" data-src=' %}
    {{ content | replace: '<img src=', replacement }}
  {% else %}
    {{ content }}
  {% endif %}
</div>

{%- comment -%} 语法高亮 {%- endcomment -%}
{% if content contains '<code>' %}
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css?v=' | append: site.github.build_revision | relative_url }}" />
{% endif %}

{%- comment -%} MathJax {%- endcomment -%}
{% if content contains 'math/tex' or content contains '\[' %}
  <script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}

{%- comment -%} Back to Top {%- endcomment -%}
{% include back_to_top.html %}

{%- comment -%} 评论 {%- endcomment -%}
{% include comments.html %}