---
layout: default
---

<div class="post-content">
  <!-- Table of Contents -->
  {% include toc.html %}

  {{ content }}
</div>

<!-- 添加评论系统 -->
<link rel="stylesheet" href="{{ '/css/gitalk.css?v=' | append: site.github.build_revision | relative_url }}" />
<script src="{{ '/js/gitalk.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>

<!-- MathJax -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!-- Back to Top -->
{% include back_to_top.html %}

<!-- gitalk -->
{% if site.gitalk %}
<div class="comment">
    {% include comments.html %}
</div>
{% endif %}